<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Study Timelapse</string>
	<key>CFBundleDisplayName</key>
	<string>Study Timelapse</string>
	<key>CFBundleIdentifier</key>
	<string>local.studytimelapse.mac</string>
	<key>CFBundleExecutable</key>
	<string>StudyTimelapse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Show your camera in the corner of your study timelapse video. All capture stays on your Mac.</string>
	<key>NSCameraUseContinuityCameraDeviceType</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Gabriel Matthew Labariento. MIT license.</string>
</dict>
</plist>
